Repository DanielSepulveda/lean-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "stylelint",
    "eslint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

fix(input): update input color (#15)
  packages/input/src/Input.tsx
Due: stylelint, eslint, prettier --write

fix(scripts): fix module exports
  utils/scripts/common.js
Due: stylelint, eslint, prettier --write

fix(scripts): fix module exports (#16)
  utils/scripts/common.js
Due: stylelint, eslint, prettier --write

chore(release): publish
  packages/input/package.json
Due: prettier-package-json --write

chore(changelog): generate changelog
  CHANGELOG.md
Due: none

fix(lerna): update lerna changelog config
  CHANGELOG.md
  lerna.json
Due: none

chore(release): publish (#17)
  CHANGELOG.md
  lerna.json
  packages/input/package.json
Due: prettier-package-json --write

fix(button): update button color
  packages/button/src/Button.tsx
Due: stylelint, eslint, prettier --write

fix(button): update button color (#18)
  packages/button/src/Button.tsx
Due: stylelint, eslint, prettier --write

chore(scripts): update publishing script to tag through lerna
  utils/scripts/publish.js
Due: stylelint, eslint, prettier --write

chore(scripts): update publishing script to tag through lerna (#19)
  utils/scripts/publish.js
Due: stylelint, eslint, prettier --write

chore(release): publish
  packages/button/package.json
Due: prettier-package-json --write

chore(release): publish (#20)
  CHANGELOG.md
  packages/button/package.json
Due: prettier-package-json --write

chore(scripts): update release and publish scripts
  utils/scripts/publish.js
  utils/scripts/release.js
Due: stylelint, eslint, prettier --write

chore(scripts): update release and publish scripts (#21)
  utils/scripts/publish.js
  utils/scripts/release.js
Due: stylelint, eslint, prettier --write

fix(button): change button color
  packages/button/src/Button.tsx
Due: stylelint, eslint, prettier --write

fix(button): change button color (#22)
  packages/button/src/Button.tsx
Due: stylelint, eslint, prettier --write

chore(changelog): generate changelog (#23)
  CHANGELOG.md
Due: none

fix(scripts): fix publish script to allow main branch
  utils/scripts/publish.js
Due: stylelint, eslint, prettier --write

fix(scripts): fix publish script to allow main branch (#24)
  utils/scripts/publish.js
Due: stylelint, eslint, prettier --write

chore(scripts): update publishing script
  utils/scripts/publish.js
Due: stylelint, eslint, prettier --write

chore(scripts): update publishing script (#25)
  utils/scripts/publish.js
Due: stylelint, eslint, prettier --write

fix(button): update button color (#26)
  packages/button/src/Button.tsx
Due: stylelint, eslint, prettier --write

chore(changelog): generate changelog (#27)
  CHANGELOG.md
Due: none

fix(scripts): update publishing script
  utils/scripts/publish.js
Due: stylelint, eslint, prettier --write

fix(scripts): update publishing script (#28)
  utils/scripts/publish.js
Due: stylelint, eslint, prettier --write

fix(button): update button color (#29)
  packages/button/src/Button.tsx
Due: stylelint, eslint, prettier --write

chore(changelog): generate changelog (#30)
  CHANGELOG.md
Due: none

feat(layout): create Box and Grid layout components
  packages/layout/package.json
  packages/layout/src/Box.tsx
  packages/layout/src/Grid.tsx
  packages/layout/src/index.ts
  packages/layout/stories/Grid.stories.tsx
  packages/layout/tests/Grid.test.tsx
  packages/layout/tests/__snapshots__/Grid.test.tsx.snap
  packages/layout/tsconfig.json
Due: stylelint, eslint, prettier --write, prettier-package-json --write

chore(layout): Add componentProps type
  packages/layout/src/utils/types.ts
Due: stylelint, eslint, prettier --write

refactor(testing): refactor testing configuration and add test script before publish
  jest.config.js
  jest.config.ts
  package.json
  packages/button/CHANGELOG.md
  packages/button/stories/Button.stories.tsx
  packages/input/CHANGELOG.md
  packages/input/stories/Input.stories.tsx
  tsconfig.json
  utils/plop-templates/component/jest.config.ts.hbs
  utils/plop-templates/component/package.json.hbs
  utils/test/jest.setup.ts
  utils/test/setupTests.ts
  utils/test/tsconfig.jest.json
  yarn.lock
Due: stylelint, eslint, prettier --write, prettier-package-json --write
