Repository DanielSepulveda/lean-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, prettier --write, prettier-package-json --write

feat(layout): create Box and Grid layout components (#31)
  packages/layout/package.json
  packages/layout/src/Box.tsx
  packages/layout/src/Grid.tsx
  packages/layout/src/index.ts
  packages/layout/src/utils/types.ts
  packages/layout/stories/Grid.stories.tsx
  packages/layout/tests/Grid.test.tsx
  packages/layout/tests/__snapshots__/Grid.test.tsx.snap
  packages/layout/tsconfig.json
Due: stylelint, eslint, prettier --write, prettier-package-json --write

refactor(testing): refactor testing configuration and add test script before publish (#32)
  jest.config.js
  jest.config.ts
  package.json
  packages/button/CHANGELOG.md
  packages/button/stories/Button.stories.tsx
  packages/input/CHANGELOG.md
  packages/input/stories/Input.stories.tsx
  tsconfig.json
  utils/plop-templates/component/jest.config.ts.hbs
  utils/plop-templates/component/package.json.hbs
  utils/test/jest.setup.ts
  utils/test/setupTests.ts
  utils/test/tsconfig.jest.json
  yarn.lock
Due: stylelint, eslint, prettier --write, prettier-package-json --write

chore(changelog): generate changelog
  CHANGELOG.md
Due: none

chore(changelog): generate changelog (#33)
  CHANGELOG.md
Due: none

chore(release): publish
  packages/button/package.json
  packages/input/package.json
  packages/layout/package.json
Due: prettier-package-json --write

feat(layout): create flex layout component
  packages/layout/src/Box.tsx
  packages/layout/src/Flex.tsx
  packages/layout/src/index.ts
Due: stylelint, eslint, prettier --write

chore(layout): create tests and stories for flex layout component
  jest.config.ts
  packages/layout/stories/Flex.stories.tsx
  packages/layout/stories/Grid.stories.tsx
  packages/layout/tests/Flex.test.tsx
Due: stylelint, eslint, prettier --write

chore(layout): update test snapshots
  packages/layout/tests/__snapshots__/Flex.test.tsx.snap
Due: none

feat(layout): create flex layout component (#34)
  jest.config.ts
  packages/layout/src/Box.tsx
  packages/layout/src/Flex.tsx
  packages/layout/src/index.ts
  packages/layout/stories/Flex.stories.tsx
  packages/layout/stories/Grid.stories.tsx
  packages/layout/tests/Flex.test.tsx
  packages/layout/tests/__snapshots__/Flex.test.tsx.snap
Due: stylelint, eslint, prettier --write

Path conditions:
  stylelint: any of: **/*.{ts,tsx,js,jsx}
  eslint: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{ts,tsx,js,jsx}
  prettier-package-json --write: any of: **/package.json
