Repository DanielSepulveda/lean-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "stylelint",
    "eslint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

configure root scripts
  package.json
  yarn.lock
Due: prettier-package-json --write

fix dependencies with manypkg
  package.json
  packages/button/package.json
  packages/input/package.json
Due: prettier-package-json --write

Fix jest config
  .husky/.gitignore
  jest.config.js
  package.json
  packages/button/package.json
  packages/input/package.json
  tsconfig.json
  utils/test/jest.d.ts
  utils/test/jest.setup.ts
  utils/test/tsconfig.jest.json
Due: stylelint, eslint, prettier --write, prettier-package-json --write

test husky
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  package.json
  packages/button/package.json
  packages/button/tests/Button.test.tsx
  packages/input/package.json
Due: stylelint, eslint, prettier --write, prettier-package-json --write

configure husky for yarn on windows
  .husky/common.sh
  .husky/pre-commit
Due: none

package generation script
  package.json
  packages/input/package.json
  tsconfig.json
  utils/plop-templates/component/package.json.hbs
  utils/plop-templates/component/src/index.ts.hbs
  utils/plop-templates/component/src/{{capitalize componentName}}.tsx.hbs
  utils/plop-templates/component/stories/{{capitalize componentName}}.stories.tsx.hbs
  utils/plop-templates/component/tests/{{capitalize componentName}}.test.tsx.hbs
  utils/plop-templates/component/tsconfig.json.hbs
  utils/plop-templates/plopfile.hbs
  utils/scripts/plopfile.ts
  yarn.lock
Due: stylelint, eslint, prettier --write, prettier-package-json --write

chore(repo): configure commitizen for creating commits
  package.json
  utils/plop-templates/component/package.json.hbs
  yarn.lock
Due: prettier-package-json --write

chore(repo): configure commitizen for creating commits (#1)
  package.json
  utils/plop-templates/component/package.json.hbs
  yarn.lock
Due: prettier-package-json --write

chore(repo): Update package.json github link
  package.json
  packages/button/package.json
  packages/input/package.json
  yarn.lock
Due: prettier-package-json --write

chore(repo): configure lerna with lerna-changelog
  .gitignore
  lerna.json
Due: none

chore(repo): configure lerna versioning commands
  lerna.json
Due: none

chore(repo): configure lerna for versioning and changelogs.
  .gitignore
  lerna.json
  package.json
  packages/button/package.json
  packages/input/package.json
  yarn.lock
Due: prettier-package-json --write

chore(release): publish
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/input/CHANGELOG.md
  packages/input/package.json
Due: prettier-package-json --write

feat(button): change button component and styles
  packages/button/src/Button.tsx
Due: stylelint, eslint, prettier --write

feat(button): change button component and styles (#3)
  packages/button/src/Button.tsx
Due: stylelint, eslint, prettier --write

feat(input): refactor input src
  packages/input/src/Input.tsx
Due: stylelint, eslint, prettier --write

feat(input): refactor input src (#4)
  packages/input/src/Input.tsx
Due: stylelint, eslint, prettier --write

chore(repo): create initial release script
  .gitignore
  lerna.json
  package.json
  utils/scripts/release.js
  yarn.lock
Due: stylelint, eslint, prettier --write, prettier-package-json --write

chore(repo): create initial release script (#6)
  .gitignore
  lerna.json
  package.json
  utils/scripts/release.js
  yarn.lock
Due: stylelint, eslint, prettier --write, prettier-package-json --write

chore(changelog): create changelog md
  CHANGELOG.md
Due: none

chore(changelog): create changelog md (#7)
  CHANGELOG.md
Due: none

chore(release): publish
  .gitignore
  CHANGELOG.md
  package.json
  packages/button/package.json
  packages/input/package.json
  utils/scripts/release.js
  yarn.lock
Due: stylelint, eslint, prettier --write, prettier-package-json --write

chore(changelog): generate changelog
  CHANGELOG.md
Due: none

chore(release): publish (#8)
  .gitignore
  CHANGELOG.md
  package.json
  packages/button/package.json
  packages/input/package.json
  utils/scripts/release.js
  yarn.lock
Due: stylelint, eslint, prettier --write, prettier-package-json --write

chore(publishing): create publish script
  package.json
  utils/scripts/publish.js
Due: stylelint, eslint, prettier --write, prettier-package-json --write

chore(publishing): create publish script (#9)
  package.json
  utils/scripts/publish.js
Due: stylelint, eslint, prettier --write, prettier-package-json --write

chore(button): modify button color
  packages/button/src/Button.tsx
Due: stylelint, eslint, prettier --write

fix(button): modify button color (#10)
  packages/button/src/Button.tsx
Due: stylelint, eslint, prettier --write

chore(release): publish
  packages/button/package.json
  packages/input/package.json
Due: prettier-package-json --write

update changelog title
  CHANGELOG.md
Due: none

chore(release): publish (#11)
  CHANGELOG.md
  packages/button/package.json
  packages/input/package.json
Due: prettier-package-json --write

chore(publishing): update publish command
  package.json
Due: prettier-package-json --write

chore(publishing): update publish command (#12)
  package.json
Due: prettier-package-json --write

chore(publishing): update publishing script
  utils/scripts/publish.js
Due: stylelint, eslint, prettier --write

chore(publishing): update publishing script (#13)
  utils/scripts/publish.js
Due: stylelint, eslint, prettier --write

chore(scripts): Refactor release and publish scripts
  utils/scripts/common.js
  utils/scripts/publish.js
  utils/scripts/release.js
Due: stylelint, eslint, prettier --write

chore(scripts): Refactor release and publish scripts (#14)
  utils/scripts/common.js
  utils/scripts/publish.js
  utils/scripts/release.js
Due: stylelint, eslint, prettier --write

fix(input): update input color
  packages/input/src/Input.tsx
Due: stylelint, eslint, prettier --write
